.bg{
    background-image: url('https://img.freepik.com/free-vector/indian-rupee-coins-falling_23-2147987395.jpg?w=740&t=st=1673265382~exp=1673265982~hmac=9b14e7463bd6ba9d1445d0cbe29721f96e9bf73c7d0aff13e570384233cfa885  ');
    background-size: 100%;
    /* background-color: aqua; */
    height: auto;
    position: absolute;
    width: 100%;
    
}